* {
  font-family: verdana, sans-serif;
}

/* header */
.header {
  width: 100%;
  background:  #e5e8e8;
  text-align: center;
  box-shadow: 2px 2px 2px 2px #aaa;
  display: flex;
}

.header,
#head2 {
  margin: auto;
}

/* body */
.body {
  display: block;
}

#head2 {
  text-align: center;
}

/* main container */
.store {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 2%;
  justify-content: space-around;
}

.img {
  padding: 3%;
  width: 6%;
}
.progImages{
  width: 40%;
}

/* cards */
.program {
  box-shadow: 2px 1px 2px 1px #aaa;
  text-align: center;
  width: 30%;
  margin-bottom: 4%;
  padding: 1em;
  border-radius: 5%;
}

.a {
  font-size: 2em;
  text-decoration: none;
}

/* footer */
#footer {
  padding: 1%;
  background: #000;
  color: #fff;
  text-align: center;
  box-shadow: 1px 1px 1px 1px black;
}

/* media queries for mobile_view */
@media only screen and (max-width:480px) {
  .store{
    width: 100%;
  }
  .program{
    width: 100%;
    background:  #fef5e7;
  }
  .para{
    text-align: left;
  }
}

/* Media Queries for Tab view */

@media only screen and (min-width:481px) and (max-width:780px) {
  .store{
    width: 100%;
    background: #fffa;
  }
  .program{
    width: 40%;
;

  }
  .para{
    text-align: left;
  }
}
